.portfolio {
    .inner {
        h2 {
            position: relative;
            padding-left: 50px;
            &::after {
                content: '';
                position: absolute;
                width: 210px;
                height: 20px;
                background: rgb(174, 170, 170);
                left: 0;
                top: 78px;
                opacity: 0.3;
            }
        }
    }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
    .portfolio-left,
    .portfolio-right {
        width: 100% !important;
    }
    .portfolio-list {
        li {
            width: 50% !important;
        }
    }
}
