.profile {
    background: rgb(251, 247, 247);
    padding: 120px 0;
    .inner {
        h2 {
            position: relative;
            padding-left: 50px;
            &::after {
                content: '';
                position: absolute;
                width: 180px;
                height: 20px;
                background: rgb(174, 170, 170);
                left: 0;
                top: 78px;
                opacity: 0.3;
            }
        }

        .contents {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .profileleft {
                display: flex;
                justify-content: space-between;
                gap: 0 30px;
                .bmjimg {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .bmj {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    p:nth-of-type(1) {
                        font-size: 50px;
                    }
                    p:nth-of-type(2) {
                        font-size: 30px;
                    }

                    .skillicons {
                        display: flex;
                        li > img {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            margin-left: -6px;
                        }
                    }
                }
            }
            .profileright {
                display: flex;
                flex-direction: column;
                width: 300px;
                gap: 20px 0;
                span:nth-of-type(1),
                span:nth-of-type(2),
                span:nth-of-type(3) {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0 10px;
                    svg {
                        font-size: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $desktop) {
}

@media screen and (max-width: $tablet) {
}

@media screen and (max-width: $mp) {
    .profile .contents {
        flex-wrap: wrap !important;
    }
    .profile-box {
        width: 100% !important;
    }
}
