.visual {
    height: calc(100vh - 80px);
    min-height: 650px;
    background-color: rgb(111, 111, 233);
    .inner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
